@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "View";
    string backlink = httpContextAccessor.HttpContext.Request.Cookies["BackLink"];
    switch (httpContextAccessor.HttpContext.Request.Cookies["Access"])
    {
        case "1":
            Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
            break;
        case "0":
            Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
            break;
    }
    var cookieCategory = httpContextAccessor.HttpContext.Request.Cookies["Category"];
    var cookieCategoryId = httpContextAccessor.HttpContext.Request.Cookies["CategoryId"];
}

<h2>Failed</h2>
<p>@ViewBag.Message</p>
@{
    switch (backlink)
    {
        case "Products":
            <a asp-action="Products">Back to List of Products</a>
            break;
        case "SpecificCategory":
            <a asp-action="ViewProductsInCategory" asp-route-categoryId="@cookieCategoryId" asp-route-Name="@cookieCategory">Back to @cookieCategory</a>
            break;
        case "Categories":
            <a asp-action="Categories">Back to List of Categories</a>
            break;
        case "ViewProductLanding":
            <a asp-action="ViewProductLanding" asp-route-sku=@TempData["Sku"]>Back to Product Landing</a>
            break;
        case "AccountInfo":
            <a asp-action="AccountInfo" asp-controller="Customer">Back to Account Info</a>
            break;
        case "Cart":
            <a asp-action="ViewCart" asp-controller="Customer">Back to the Shopping Cart</a>
            break;
        case "Login":
            <a asp-action="Login" asp-controller="Home">Back to the Login</a>
            break;
        default:
            <a asp-action="HomePage">Back to Home Page</a>
            break;
    }
}
