@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    var cookieCategory = httpContextAccessor.HttpContext.Request.Cookies["Category"];
    var cookieCategoryId = httpContextAccessor.HttpContext.Request.Cookies["CategoryId"];
}

<h2>Success!</h2>
@{
    switch (httpContextAccessor.HttpContext.Request.Cookies["BackLink"])
    {
        case "Products":
            <a asp-action="Products">Back to List of Products</a>
            break;
        case "SpecificCategory":
            <a asp-action="ViewProductsInCategory" asp-route-categoryId="@cookieCategoryId" asp-route-Name="@cookieCategory">Back to Category</a>
            break;
        case "Categories":
            <a asp-action="Categories">Back to List of Categories</a>
            break;
        case "ViewProductLanding":
            <a asp-action="ViewProductLanding" asp-controller="Admin" asp-route-sku=@TempData["Sku"]>Back to Product</a>
            break;
        case "AccountInfo":
            <a asp-action="AccountInfo" asp-controller="Customer">Back to Account Info</a>
            break;
        case "Cart":
            <a asp-action="ViewCart" asp-controller="Customer">Back to the Shopping Cart</a>
            break;
        default:
            <a asp-action="Categories">Back to List</a>
            break;
    }
}

