@model eCommerceMVC.Models.Categories

@{
    ViewData["Title"] = "AddCategory";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Add Category</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveAddedCategory">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <input asp-for="CategoryId" class="form-control" value="@ViewBag.NextCategoryId" readonly/>
                <span asp-validation-for="CategoryId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Categories">Back to Categories</a>
</div>

