@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor
@model IEnumerable<eCommerceMVC.Models.Categories>

@{
    ViewData["Title"] = "Categories";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}

<h2>Categories</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink(item.Name, "ViewProductsInCategory", new { CategoryId = item.CategoryId, Name = item.Name })
            </td>
        </tr>
        }
    </tbody>
</table>
