@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor;
@model eCommerceMVC.Models.Users

@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
    bool value;
    if (httpContextAccessor.HttpContext.Request.Cookies["ChangePassword"] == "true")
    {
        value = true;
    } else
    {
        value = false;
    }

}

@{
    if (value)
    {
        <div>
            @Html.Partial("_Login")
        </div>
    }
    else
    {
        <h2>Change Password</h2>

        <hr />

        <div class="row">
            <div class="col-md-4">
                <form asp-action="SaveChangedPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="UserName" class="control-label"></label>
                        <input asp-for="UserName" class="form-control" readonly />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
     }
}

        <div>
            <a asp-action="AccountInfo">Back to Account Info</a>
        </div>

