@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="font-weight:400">Welcome to Style Element</h1>
    <br />
    <img class="img-fluid"src="~/images/menfashionbg1.jpg" style="width:1024px"/>
</div>
