@{ 
    ViewData["Title"] = "Login";
}
<form>
    <h1>Login:</h1>
    <p>Username: </p>
    @Html.TextBox("username")
    <p>Password: </p>
    @Html.Password("password")
    <input type="submit" class="btn" value="Login" />
</form>