@{ 
    ViewData["Title"] = "Login";
}
<form asp-action="CheckRole">
    <div class="container-fluid">
        <h3>Login:</h3>
        <p>Username: @Html.TextBox("username")</p>
        <p>Password: &nbsp;  @Html.Password("password")</p>
        <input type="submit" class="btn btn-primary" value="Submit" />
    </div>
</form>