@model eCommerceMVC.Models.Users

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @* did not work
        #togglePassword{
            margin-left: -30px;
            cursor: pointer;
        }*@
}

@section scripts {
    <script>
        const togglePassword = document.querySelector('#togglePassword');
        const password = document.querySelector('#Password');
        togglePassword.addEventListener('click', function (e) {
            // toggle the type attribute
            const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
            password.setAttribute('type', type);
            // toggle the eye slash icon
            this.classList.toggle('fa-eye-slash');
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}

<h2>Register</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="SaveRegisteredAccount">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-row">
                <div class="form-group"style="margin-left:5px">
                    <label asp-for="Password" class="control-label"></label>
                    <input name="Password" id="Password" type="password" asp-for="Password" class="form-control" />
                    @*<i style="margin-left: 0px; margin-top: 0px; cursor: pointer" id="togglePassword" class="far fa-eye"></i>*@
                    @*<span asp-validation-for="Password" class="text-danger"></span>*@
                </div>
                <i style="margin-left: -30px; margin-top: 44px; cursor: pointer" id="togglePassword" class="far fa-eye"></i>
                <span asp-validation-for="Password" class="text-danger" style="margin-left:5px; margin-top:-10px"></span>
            </div>
            <div class="form-group" hidden>
                <label asp-for="Access" class="control-label"></label>
                <input asp-for="Access" value="0" class="form-control" />
                <span asp-validation-for="Access" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
